header
  position: fixed
  width: 296px
  height: auto
  background-color: #fff
  @media screen and (min-width: 360px) and (max-width: 1367px)
    position: relative
    width: 100%
    padding-right: 17px
  .header-content
    height: 947px
    flex-direction: column
    @media screen and (min-width: 1600px) and (max-width: 1919px)
      height: 890px
    @media screen and (min-width: 1368px) and (max-width: 1919px)
      height: auto
    @media screen and (min-width: 360px) and (max-width: 1367px)
      justify-content: space-between
      flex-direction: row
      height: 86px
    .header-content__logo
      padding: 48.16px 44.81px 60.67px 53.51px
      @media screen and (min-width: 481px) and (max-width: 1367px)
        padding: 20.16px 44.81px 20.67px 53.51px
        width: 240px
      @media screen and (min-width: 360px) and (max-width: 1367px)
        padding: 20.5px 21.19px 22.5px 11px
      @media screen and (min-width: 1368px) and (max-width: 1600px)
        padding: 28.16px 44.81px 30.67px 53.51px
      // @media screen and (min-width: 481px) and (max-width: 1367px)
      //   padding: 25.5px 41.19px 22.5px 11px
    .header-content__nav
      padding: 0px 60px 38px 35px
      border-bottom: 1px solid #e5e5e5
      @media screen and (min-width: 360px) and (max-width: 1367px)
        order: 1
        padding: 0
      @media screen and (min-width: 1368px) and (max-width: 1600px)
        padding: 0 60px 10px 35px
      ul
        padding: 0
        list-style-type: none
        @media screen and (min-width: 360px) and (max-width: 480px)
          display: none
          flex-direction: column
        @media screen and (min-width: 481px) and (max-width: 1367px)
          display: none
          justify-content: space-around
          height: auto
        li
          height: 46px
          font-size: 18px
          @media screen and (min-width: 481px) and (max-width: 1367px)
            height: 30px
            font-size: 2vw
          @media screen and (min-width: 360px) and (max-width: 480px)
            padding-left: 5vw
            font-size: 16px
          @media screen and (min-width: 1368px) and (max-width: 1600px)
            height: 40px

    .header-content__phone
      @media screen and (min-width: 360px) and (max-width: 1367px)
        display: flex
        flex-direction: column-reverse
        width: 50%
        align-items: flex-end
        @media screen and (min-width: 360px) and (max-width: 480px)
          height: 75px
      .header-content__phone__contacts 
        width: auto
        padding: 44px 0px 92.5px 0px
        @media screen and (min-width: 360px) and (max-width: 1367px)
          padding: 0
        @media screen and (min-width: 1368px) and (max-width: 1919px)
          padding: 14px 0 12.5px 0
        button
          margin: 0px 20px
          color: white
          background: #74BB20
          font-size: 15px
          border: 0px
          @media screen and (min-width: 360px) and (max-width: 1367px)
            display: none
        .phone
          p 
            padding: 22px 63px 0px 63px
            font-size: 18px
            @media screen and (min-width: 360px) and (max-width: 1367px)
              padding: 0
            @media screen and (min-width: 481px) and (max-width: 1367px)
              font-size: 21px
            @media screen and (min-width: 360px) and (max-width: 480px)
              font-size: 13px
          span
            color: #74BB20
        .recall
          padding: 0px 95px 0px 96px
          @media screen and (min-width: 360px) and (max-width: 1367px)
            display: none
          a
            color: #74BB20
            font-size: 13px
            border-bottom: 1px solid
      .header-content__phone__bottom 
        width: auto
        padding: 0px 0px 28.5px 0px
        @media screen and (min-width: 360px) and (max-width: 1600px)
          padding: 0
        & > div
          width: 50% 
        .ru > span, .en > span
          font-size: 16px
          @media screen and (min-width: 360px) and (max-width: 480px)
            font-size: 13px
        .ru > span
          padding-right: 2vw
        .en > span
          padding-left: 2vw
        .ru
          border-right: 1px solid black
        @media screen and (min-width: 481px) and (max-width: 1367px)
          border-bottom: 0px 
    .header-content__social
      height: 74px
      padding-top: 17px
      & > div
        width: 50% 
      .facebook > img
        padding-left: 117px
      .instagramm > img
        padding-right: 127px
      @media screen and (min-width: 360px) and (max-width: 1367px)
        display: none !important    
// svg
.ham 
  display: none
  cursor: pointer
  -webkit-tap-highlight-color: transparent
  transition: transform 400ms
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none
  @media screen and (min-width: 360px) and (max-width: 1367px)
    display: block
.hamRotate.active 
  transform: rotate(45deg)
.hamRotate180.active 
  transform: rotate(180deg)
.ham8 .top 
  stroke-dasharray: 40 160
.ham8 .middle 
  stroke-dasharray: 40 142
  transform-origin: 50%
  transition: transform 400ms
.ham8 .bottom 
  stroke-dasharray: 40 85
  transform-origin: 50%
  transition: transform 400ms, stroke-dashoffset 400ms
.ham8.active .top 
  stroke-dashoffset: -64px
.ham8.active .middle 
  //stroke-dashoffset: -20px;
  transform: rotate(90deg)
.ham8.active .bottom 
  stroke-dashoffset: -64px
.line 
  fill: none
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms
  stroke:#000
  stroke-width: 5.5
  stroke-linecap: round
.menu-open
  display: flex !important
  width: 100%
  position: absolute
  top: 86px
  left: 0
  background: white
  z-index: 100
.menu-open-landscape
  display: flex !important
  justify-content: space-between
  width: 100%
  position: absolute
  top: 86px
  left: 0
  background: white
  z-index: 100
