.map
  background: url('/img/map.jpg') no-repeat
  height: 734px
  .map-content
    margin-top: 52px
    width: 42%
    @media screen and (min-width: 360px) and (max-width: 480px)
      margin-top: 0
    @media screen and (min-width: 700px) and (max-width: 1100px)
      width: 60%
    @media screen  and (max-width: 699px)
      width: 100%
    .contacts
      padding: 46px 38px 33px 63px
      max-width: 674px
      background: white
      @media screen and (min-width: 360px) and (max-width: 480px)
        width: auto
        padding: 0
      h1
        font-size: 30px
        @media screen and (min-width: 360px) and (max-width: 480px)
          font-size: 24px
          text-align: center
          padding: 20px 0px
      .accordion
        .card
          border-bottom: 1px solid #e5e5e5 
          border-top: 0
          border-right: 0
          border-left: 0
          p
            font-size: 16px
            @media screen and (min-width: 360px) and (max-width: 480px)
              font-size: 14px
          .card-body p:last-child
            width: 30%
            border-top: 1px solid
            @media screen and (min-width: 360px) and (max-width: 480px)
              width: 44%
          .contacts-content__elem
            padding-left: 0
            height: auto
            background: white
            .span-text
              font-size: 18px
              @media screen and (min-width: 360px) and (max-width: 480px)
                font-size: 15px
        .card-body
          padding-left: 0
