.map
  background: url('../img/map.jpg') no-repeat
  height: 734px
  .map-content
    margin-top: 52px
    width: 42%
    @media screen and (min-width: 360px) and (max-width: 480px)
      margin-top: 0
    @media screen and (min-width: 700px) and (max-width: 1100px)
      width: 60%
    @media screen  and (max-width: 699px)
      width: 100%
    .contacts
      padding: 46px 38px 33px 63px
      max-width: 674px
      background: white
      @media screen and (min-width: 360px) and (max-width: 480px)
        width: auto
        padding: 0
      h1
        font-size: 30px
        @media screen and (min-width: 360px) and (max-width: 480px)
          font-size: 24px
          text-align: center
          padding: 20px 0px
      .accordion
        .card
          @media screen and (min-width: 481px) 
            border-bottom: 1px solid #e5e5e5 
            border-top: 0
            border-right: 0
            border-left: 0
          p
            @media screen and (min-width: 481px) 
              font-size: 16px
            @media screen and (min-width: 360px) and (max-width: 480px)
              font-size: 14px
          .card-body p:last-child
            @media screen and (min-width: 481px) 
              width: 30%
              border-top: 1px solid
          .contacts-content__elem
            @media screen and (min-width: 481px) 
              padding-left: 0
              height: auto
              background: white
            .span-text
              @media screen and (min-width: 481px) 
                font-size: 18px
              @media screen and (min-width: 360px) and (max-width: 480px)
                font-size: 15px
            .switch-button
              @media screen and (min-width: 360px) and (max-width: 480px)
                display: none
        .card-body
          @media screen and (min-width: 481px) 
            padding-left: 0
div .collapsing
  @media screen and (min-width: 481px) 
    position: relative
    height: 0
    overflow: hidden
    transition: height 1s ease
//carusel
.carousel-control-prev,.carousel-control-next
  @media screen and (min-width: 481px)
    display: none
#carouselExampleCaptions
  @media screen and (min-width: 481px)
    display: none




